{% extends 'catalog/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Mentions légales</strong>
                </h1>                
            </div>
        </div>
    </div>
</header>
<section id="legal">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        	<h2>Resources</h2>
        	<hr>
        	<p>Le site est heberge par <a href="https://www.heroku.com/">Heroku</a> dans sa version gratuite.</p>
      <p>Les données sont issues de la base <a href="https://openfoodfacts.org">OpenFoodFacts</a></p>  
			<p><em>Template utilisé : </em><a href="https://startbootstrap.com/template-overviews/creative/">Startbootstrap-creative</a></p>
      </div>  
   </div>
  </div>
</section>
{% endblock %}